@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --font:#e5e5e5;
    --white:#ffffff;
    --dark-blue:#0a3871;
    --gray:#c5c5c5;
    --medium-gray:#67808e;
    --negro:#000000;
    --white-blue:#d8dfe8;
    --medium-blue:#0a38718a;
    --gray-m:#343a40;
    --gree:#495057;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
    text-decoration: none;
    background-color: var(--white);
    
}

body{
    height: 100%;


}
img{
    max-width: 100%;
    background-color: var(--white);
}
header{
    position: absolute;
    margin: 40px 0px 0px 40px;
}
header .logo{
    display: flex;
    align-items: flex-start;
    width: 120px;
    height: 48px;
}
main{
    display: flex;
    flex-direction: row;
    /*
    background: url(../assets/background.jpg)no-repeat;
    background-size: cover;
    background-position: center;
*/
}
.contenedor__izquierda{
    width: 60%;
    margin: 168px 0px 0px 140px;
    background: transparent;
}
.entrada__texto{
    width: 660px;
    height: 288px;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    outline: none;
    border: 1px solid var(--gray);
    border-radius: 15px;
    resize: none;
}
.entrada__texto::placeholder,:focus{
    color: var(--dark-blue)
}

.condicion{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
    position: absolute;
    top: 500px;

}
.texto__condicion{
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    opacity: 0.8;
    color: var(--medium-gray);
    background: var(--white)

}
.buttons{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
    position: absolute;
    top: 526px;
    background: transparent;

}
.boton__encriptar{
    width: 328px;
    height: 67px;
    padding: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--white);
    background:var(--dark-blue);
    border: 1px solid var(--dark-blue);
    border-radius: 24px;
    cursor: pointer;
    box-shadow: 0px 20px 29px -5px var(--negro);
}
.boton__encriptar:active{
    box-shadow: inset 2px 2px 4px var(--font),
    inset -3px -4px 8px var(--dark-blue);
    color: var(--white-blue)
}
.boton__desencriptar{
    width: 328px;
    height: 67px;
    padding: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--dark-blue);
    background:var(--white-blue);
    border: 1px solid var(--dark-blue);
    border-radius: 24px;
    cursor: pointer;
    box-shadow: 0px 20px 29px -5px var(--negro);
}
.boton__copiar:active,
.boton__desencriptar:active{
    box-shadow: inset 2px 2px 4px var(--dark-blue),
    inset -3px -4px 8px var(--font);
    color: var(--medium-blue);
}

.contenedor__derecha{
    width: 270px;
    height: 580px;
    background: var(--font);
    box-shadow: 10px 24px 32px -8px var(--gray-m);
    position: relative;
    margin-top: 40px;
    border-radius: 32px;
    text-align: center;
    
}
.contenedor__derecha__contenido{
    width: 250px;
    margin: auto;
    margin-top: 50%;
    background: var(--font);
}
.muñeco{
    background: var(--font);
}
.mensaje__1{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    color: var(--gray-m);
    background: var(--font);
}
.mensaje__2{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: var(--medium-gray);
    background: var(--font);

}
.salida__texto{
    width: 100%;
    height: 485px;
    position: absolute;
    padding: 20px;
    top: 0;
    left: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: var(--gree);
    background: transparent;
    border-top-right-radius: 32px;
    border-top-left-radius: 32px;
    border: none;
    resize: none;


}
.salida__texto:focus{
    outline: none;
}
.boton__copiar{

    width: 224px;
    height: 67px;
    padding: 23px;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
    padding: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    background:var(--white-blue);
    border: 1px solid var(--dark-blue);
    border-radius: 20px;
    cursor: pointer;
    }
.boton__encriptar:hover,.boton__desencriptar:hover,.boton__copiar:hover {
transform: scale(0.97);
}
footer{
    margin-top: 15px;
    padding: 10px;
    border-top: 2px solid var(--font);
    color: var(--gray-m);
    text-align: center;
    height: 5px;
    font-size: 20px;
    font-weight: 700;

}
@media(max-width: 1250px){

    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .contenedor__izquierda{
        margin: 168px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .buttons{
        display: flex;
        align-items: center;
        position: inherit;
            }
    .condicion{
        position: inherit;
        margin: 15px;
    }
    .contenedor__derecha{
        width: 665px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    
    }
    .contenedor__derecha__contenido{
        display: block;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: absolute;
        bottom: 20%;
        font-size: 24px;
        font-weight: 700;
    }
    .muñeco{
        display: none;
    }
    .boton__copiar{
        position: inherit;
        width: 100%;
    }
    .salida__texto{
        width: 100%;
        height: 210px;
        padding: 10px;
    }
}
@media(max-width: 720px) {
    header.logo{
        width: 100%;
        background: var(--white);
        padding: 2px;

    }
    .entrada__texto{
        width: 90%;
        font-size: 24px;

    }
    .buttons{
        display: grid;
        gap: 21px;

    }
    .contenedor__derecha{
        width: 90%;
    }


}